<%= simple_form_for(@space) do |f| %>
  <%= f.error_notification %>

 
    <div class="form-group">
    <%= f.input :number, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :street, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :suburb, input_html: { class: 'form-control' } %>
    </div>
<!--     <div class="form-group">
    <%#= f.input :state, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%#= f.input :country, priority: ['Australia'], input_html: { class: 'form-control' } %>
    </div>
 -->    
    <div class="form-group">
    <%= f.input :space_type, label: 'Type of space', collection: ['Car', 'Bike', 'Van'], priority: ['Car'], input_html: { class: 'form-control' } %>
    </div>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
