<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @booking.end_time %>
</p>

<p>
  <strong>Space:</strong>
  <%= @booking.space %>
</p>

<p>
  <strong>Type:</strong>
  <%= @booking.self_booking %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
