<%= simple_form_for(@schedule) do |f| %>
  <%= f.error_notification %>

    <div class="form-group">
    <%= f.input :mon_start, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :mon_end, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :tue_start, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :tue_end, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :wed_start, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :wed_end, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :thu_start, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :thu_end, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :fri_start, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :fri_end, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :sat_start, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :sat_end, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :sun_start, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :sun_end, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :space_id, as: :hidden, input_html: { class: 'form-control' } %>
    </div>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
