<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @schedule.mon_start %>
</p>

<p>
  <strong>End time:</strong>
  <%= @schedule.mon_end %>
</p>

<p>
  <strong>Space:</strong>
  <%= @schedule.space %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
