<%= simple_form_for(@request) do |f| %>
  <%= f.error_notification %>

    <div class="form-group">
    <%= f.input :seeker_id, as: :hidden, input_html: { class: 'form-control', value: current_user.id } %>
    </div>
    <div class="form-group">
      <div class="control-group select optional request_owner_id"><label class="select optional control-label" for="request_owner_id">Owner</label>
      <div class="controls"><select class="select optional form-control" id="request_owner_id" name="request[owner_id]">
      <% @seekers.each do |seeker| %>
      <option value="<%= seeker.id %>"><%= seeker.account.first_name %></option>
      <% end %>
      </select>
      </div>
      </div>
    </div>
    <div class="form-group">
    <%= f.input :status, collection: ['Pending', 'Approved', 'Disapproved'], input_html: { class: 'form-control' } %>
    </div>


  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
