<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Seeker:</strong>
  <%= @request.seeker_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @request.owner_id %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
